name: Run tests

on: workflow_dispatch

permissions:
  contents: write
  checks: write

jobs:
  test:
      name: Run test suite
      runs-on: ubuntu-latest
      env:
        CI: true
      steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.25.5'
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          go mod download
      - name: Build and run tests
        run: |
          chmod +x ./scripts/run-unit-tests.sh
          ./scripts/run-unit-tests.sh
      - uses: actions/upload-artifact@v4
        with:
          name: libonnxruntime-genai-linux-x64.so
          path: ./artifacts/libonnxruntime-genai-linux-x64.so
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: './testTarget/unit/*.xml'
          fail_on_failure: true
          require_tests: true